.thumbnail{
  width: 100%;
  display:block ;
  

}

.title{
  margin-top: 0px; 
  margin-top: 12px;
  color:#212529 ;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}


.info{
  
  width: 200px;

}
.channel{
  
  width: 50px;
  vertical-align: top;
}
.profilepic{
  width: 36px;
  border-radius: 37px;
  margin-top: 12px;
}
.author,.views{
  font-size: 12px;
  color: gray;
  margin-top: 5px;
}
.video-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}
.gridcont{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  column-gap: 15px;
  row-gap: 40px;
}
@media(max-width:750px){
  .gridcont{
    grid-template-columns: 1fr 1fr;
  }
}
.thumbnail1{
  position: relative;
  margin-bottom: 8px;

}
.videotime{
  background-color:black ;
  color: white;
  right: 10px;
  position: absolute;
  bottom: 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: Roboto,Arial;
  padding: 4px;
  border-radius: 2px;
  z-index: 0;

}
.relative{
  position: relative;
  display: inline-block;
  

}
.relative .profilepic1{
  opacity: 0;
  background-color: white;
}
.relative:hover .profilepic1{
  opacity: 1;
}
.profilepic1{
  display: flex;
}
.profilepic2{
  width:50px;
  height: 50px;
  border-radius: 25px;
   margin-right: 10px;
}
.textdiv{
  display: flex
  

}
@media(min-width:1000px){
  .gridcont{
    grid-template-columns: 1fr 1fr 1fr 1fr  ;
  }
}

